extends ../template/layout.pug

block content
     div#videoContainer(data-Id=video._id)
          if isHeroku
               video(src=video.fileUrl)
          else 
               video(src= '/' + video.fileUrl)
          div#videoControls.videoControls
               div.videoControls__play
                    span#play.videoControls__playBtn play
                    div.videoControls__time
                         span#currentTime 00:00
                         span / 
                         span#totalTime 00:00
               input(type="range" step="1" value="0" min="0")#timeLine
               div.videoControls__volume
                    input(type="range" step="0.1" value=0.5 min="0" max="1")#volume
                    span#mute
                         i.fas.fa-volume-up
               div
                    span#fullScreen 
                         i.fas.fa-expand
     div.video__data
          div.video__basic__data
               p.video__title=video.title
               span description
               div.video__description
                    span=video.description
          br.video__data__br
          small.video__owner Uploaded by 
               a(href=`/users/${video.owner._id}/profile`)=video.owner.name
          small.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
          if String(video.owner.id) === (user && String(user._id))
               div.video__edit
                    a(href=`${video.id}/edit`).first
                         i.fas.fa-eye-dropper
                         |  Edit Video &rarr;
                    br
                    a(href=`${video.id}/delete`).second
                         i.fas.fa-ban 
                         |  Delete Video &rarr;
     if loggedIn
          div.video__add-comments
               span.video__add-comments-start Write your Comment!
               form.video__comment-form#commentFrom(method="POST")
                    textarea(cols="30", rows="10" placeholder="Wrtie a comment")
                    button Add comment
     div.video__comments
          span.comment__notification Comments
          ul#commentList 
               each comment in video.comments.reverse()
                    li.video__comment#comment(data-id=comment._id)
                         i.fas.fa-comment  
                         span   #{comment.text}
                         if String(comment.owner) === String(user && user._id)
                              span.delete__comment#deleteBtn
                                   i.fas.fa-ban

block scripts
     script(src="/assets/js/videoPlayer.js")
     if loggedIn
          script(src="/assets/js/commentSection.js")