extends ../template/layout.pug

block content
     div.video__data
          p.video__title=video.title
          small.video__owner Uploaded by 
               a(href=`/users/${video.owner._id}`)=video.owner.name
          small.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
          if String(video.owner.id) === (user && String(user._id))
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;

//- block scripts
//-      script(src="/assets/js/videoPlayer.js")
//-      if loggedIn
//-           script(src="/assets/js/commentSection.js")